---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<div
  class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-900 transition-colors duration-300"
>
  <Header />
  <main class="flex-grow mb-16">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
      <div class="space-y-8 text-gray-600 dark:text-gray-300">
        <h1
          class="text-4xl font-extrabold text-gray-900 dark:text-white sm:text-5xl text-center mb-8"
        >
          Sobre mí
        </h1>

        <p class="text-lg">
          La vida es una aventura, y mi viaje actual implica trabajar en
          startups, donde construyo soluciones de software escalables e
          innovadoras. Este camino está impulsado por mis dos pasiones: los
          negocios y la tecnología.
        </p>

        <p class="text-lg">
          Con más de una década de experiencia en ingeniería backend, me
          especializo en construir sistemas y microservicios de alto rendimiento
          y escalables utilizando tecnologías como Java, Kotlin (Spring Boot),
          Node.js y Python. Durante los últimos 5 años, me he enfocado en
          diseñar y desarrollar APIs RESTful y GraphQL que impulsan aplicaciones
          eficientes y confiables en diversas industrias.
        </p>

        <h2 class="text-3xl font-bold text-gray-900 dark:text-white mt-12 mb-6">
          Trayectoria (👶 hasta 2020)
        </h2>

        <p class="text-lg">
          Nacido el 9 de mayo de 1988 en la hermosa ciudad de <a
            href="https://es.wikipedia.org/wiki/Buenos_Aires"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duration-300"
            target="_blank"
            rel="noopener noreferrer">Buenos Aires</a
          > (Capital de <a
            href="https://es.wikipedia.org/wiki/Argentina"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duration-300"
            target="_blank"
            rel="noopener noreferrer">Argentina</a
          >).
        </p>

        <p class="text-lg">
          Mi viaje en Ingeniería de Software comenzó mientras trabajaba en el <a
            href="https://es.wikipedia.org/wiki/Banco_de_la_Provincia_de_Buenos_Aires"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">Banco de la Provincia de Buenos Aires</a
          >. De 2010 a 2012, formé parte de un equipo dedicado responsable de
          implementar un sistema de gestión de préstamos. Este proyecto encendió
          mi pasión por el desarrollo de software, ya que obtuve experiencia
          práctica en la gestión de procesos complejos, colaborando
          estrechamente con el líder del proyecto y entregando soluciones que
          mejoraron la eficiencia operativa del banco.
        </p>

        <p class="text-lg">
          De 2013 a 2019, desarrollé software para el comercio electrónico de <a
            href="https://es.wikipedia.org/wiki/Buquebus"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">Buquebus</a
          >, donde comencé mi camino en la industria del turismo. En Buquebus,
          comencé como Desarrollador Full Stack Junior, y a medida que fui
          ganando más experiencia, comencé a obtener más responsabilidades.
          Después de 4 años, me convertí en Líder Técnico de un equipo de 5
          miembros, gestionando el equipo y los recursos para entregar
          soluciones de software para el comercio electrónico de Buquebus, y lo
          hice bastante bien según los comentarios que recibí de mis
          coordinadores.
        </p>

        <p class="text-lg">
          En noviembre de 2019, comencé a sentir inquietud por trabajar en
          grandes proyectos de transformación digital con computación en la
          nube, así que comencé a desarrollar software para <a
            href="https://es.wikipedia.org/wiki/Equifax"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">Equifax</a
          >. Fue un proyecto de migración completa de la plataforma heredada a
          la computación en la nube (GCP).
        </p>

        <p class="text-lg">
          Después de obtener mi Licenciatura en la <a
            href="https://maps.app.goo.gl/rApWSPXMdDqxtfMy8"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">UNLZ</a
          >, quise trabajar en startups, donde pudiera construir soluciones de
          software más escalables e innovadoras con tecnologías de vanguardia.
        </p>

        <h2 class="text-3xl font-bold text-gray-900 dark:text-white mt-12 mb-6">
          Trayectoria (2021 - presente)
        </h2>

        <p class="text-lg">
          Desde 2021, he estado desarrollando software en startups que son
          escalables e innovadoras con tecnologías de vanguardia. Mi camino ha
          pasado por <a
            href="https://almundo.com.ar/"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">Almundo</a
          >, <a
            href="https://www.tul.io/"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">TUL</a
          >, y actualmente <a
            href="https://travelx.io/"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">TravelX</a
          >.
        </p>

        <p class="text-lg">
          En 2023, presenté <a
            href="https://greenplus.gitbook.io/greenplus"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">Green Plus</a
          >, una idea de startup en <a
            href="https://startuplab.pol.una.py/"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">Startup Lab</a
          >, un programa de incubación. Green Plus, un SaaS para gestionar la
          huella de carbono de las empresas, utilizando blockchain (<a
            href="https://algorand.co/"
            class="text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 transition-colors duración-300"
            target="_blank"
            rel="noopener noreferrer">Algorand</a
          >) y aprendizaje automático como su solución principal. Durante este
          programa, aprendí mucho más sobre el ecosistema de startups, pero no
          ejecuté la idea porque no la encontré lo suficientemente motivadora.
        </p>

        <p class="text-lg">
          Después de más de una década de experiencia, puedo decir que me
          apasionan las startups porque me dan la oportunidad de construir
          soluciones innovadoras y tener un impacto directo en el crecimiento
          del negocio al abordar desafíos del mundo real. Prospero en entornos
          de ritmo rápido donde la creatividad, la agilidad y la resolución de
          problemas son clave, y disfruto del proceso de transformar ideas en
          tecnologías escalables y eficientes.
        </p>
      </div>
      <div class="mt-12 text-center">
        <a
          href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ1-qh0ZZklA0n4dXpjPtyovtaC-rdzWx2h3F7hoqng0twq7enuHQAujrQZnosqSVvjKjkvkddtx"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors duración-300"
        >
          Agendar llamada
        </a>
      </div>
    </div>
  </main>
  <Footer />
</div>